{% load static%}
{% block content %}

<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Google Books{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">

  <script src="{% static 'js/main.js' %}"></script>
</head>
<body style = "background-color : #fcf5b0">
	<div class="row">
		<div class="col-sm-4">
			<div class="mb-5 mx-5 py-2 flex-center-col align-c" style = "background-color : #fcf5b0; margin-bottom : 30px;">
			    <h1 class="text-36 mb-3 d-flex justify-content-center" style = "font-family : Yeon Sung; font-size : 100px;">Cari Buku</h1>
			    <form class="form-inline mb-2 d-flex justify-content-center">
			        <input class="form-control searchbox " type="search" placeholder="Search" aria-label="Search">
			        <div class="append flex">
			            <input class="form-control mr-sm-2 mr-2 numbox" min="1" max="40" placeholder="10" id="custom1" type="number">
			        </div>
			        <button class="btn btn-outline-success my-2 my-sm-0 btn-search"  type="submit">Search</button>
			    </form>
			    <div class="spinner-grow text-dark none" role="status">
			            <span class="sr-only">Loading...</span>
			          </div>
			</div>
		</div>
		<div class="col-sm-8">
	    <div class="result align-l mx-5">
	        <div id="res-header" class="flex-left mb-4">
	            <div class="vr mr-3"></div>
	            <div class="text-container">
	                <h1 class="text-24 hasil" style = "font-family : Yeon Sung">Hasil Pencarian</h1>
	                <p class="text-12" style = "font-family : Yeon Sung">Berikut hasil pencarian berdasarkan kata kunci kamu.</p>
	            </div>
	        </div>
	        <div class="status-container none">
	            <table class="table">
	                <thead>
	                    <tr>
	                        <th style = "font-family : Yeon Sung" scope="col">No</th>
	                        <th style = "font-family : Yeon Sung" scope="col">Title</th>
	                        <th style = "font-family : Yeon Sung" scope="col">Author</th>
	                        <th style = "font-family : Yeon Sung" scope="col">Page-Size</th>
	                        <th style = "font-family : Yeon Sung" scope="col">Published</th>
	                        <th style = "font-family : Yeon Sung" scope="col">Categories</th>
	                        <th style = "font-family : Yeon Sung" scope="col">Cover</th>
	                    </tr>
	                </thead>
	                <tbody>

	                </tbody>
	            </table>
	        </div>
	        <p style = "font-family : Yeon Sung" >Masukkan Pencarian!</p>
	    </div>
			</div>
			</div>


</body>
</html>
{% endblock %}
